.app {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.component-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 300px;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.subtitle {
  font-size: 1.5rem;
  padding-bottom: 8px;
}

.title {
  font-size: 2.5rem;
  padding-inline: 16px;
  padding-bottom: 16px;
}

.rerender-number {
  font-size: 3rem;
  padding-inline: 16px;
  padding-bottom: 4px;
  color: #CE71FF;
}

.compire-logo {
  position: relative;
}

.compire-logo::before {
  content: "";
  height: 35px;
  width: 35px;
  position: absolute;
  top: -10px;
  right: -35px;
  background: url("/public/static/compireLogo.svg");
  background-size: 30px auto;
  background-repeat: no-repeat;
}

.btn-wrapper {
  padding-block: 22px;
  border-radius: 16px;
}

.btn-wrapper .btn:first-child {
  border-bottom-left-radius: 16px;
  border-top-left-radius: 16px;
}

.btn-wrapper .btn:last-child {
  border-bottom-right-radius: 16px;
  border-top-right-radius: 16px;
}

.btn {
  background-color: #CE71FF;
  padding-inline: 24px;
  padding-block: 16px;
  color: white;
  cursor: pointer;
  border-radius: 0;
  border: none;
}

.btn.small {
  padding-inline: 16px;
  padding-block: 8px;
  border-radius: 16px;
}

.btn.active, .btn:hover {
  background-color: #d396f6;
}

.rerender-component-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

